<div class="px-10 sm:px-20 md:px-40 flex flex-col items-center">

    <h1 class="font-raleway font-bold text-4xl p-10">{{article?.title}}</h1>
    <img class="rounded-lg" src="{{article?.image}}" alt="">

    <div class="flex flex-col gap-4 py-10">

    <div class="text-slate-500 flex justify-start gap-2 items-center">
        <img class="rounded-full h-[25px]" src="/img/image.png"/>
        <span>{{article?.source}}</span>
        <p>12 minutes ago</p>
    </div>
    <div class="text-slate-500 flex justify-start gap-2">
        <span class="text-pink-600">{{article?.category}}</span>
        <p>{{article?.time}} read</p>
    </div>
    <p class="text-slate-500">{{article?.description}}</p>
</div>


<div class="flex flex-col items-start w-full">

    <span class="text-4xl">Let's comment</span>
    
    <div class="py-10 w-full flex flex-col gap-5">

        <div class="p-5 rounded-md bg-slate-100 flex w-full gap-4 items-center">
            <img class="rounded-full w-[50px] h-[50px] object-cover" src="/img/user1.png" alt="">
            <div class="flex flex-col gap-2 justify-center">
                <div class="flex items-center gap-4">
                    <span>Username</span>
                    <span class="text-slate-500">14 jan 2025</span>
                </div>
                <div class="text-slate-500">This is the comment of the user</div>
            </div>
        </div>
        <div class="p-5 rounded-md bg-slate-100 flex w-full gap-4 items-center">
            <img class="rounded-full w-[50px] h-[50px] object-cover" src="/img/user1.png" alt="">
            <div class="flex flex-col gap-2 justify-center">
                <div class="flex items-center gap-4">
                    <span>Username</span>
                    <span class="text-slate-500">14 jan 2025</span>
                </div>
                <div class="text-slate-500">This is the comment of the user</div>
            </div>
        </div>
        <div class="p-5 rounded-md bg-slate-100 flex w-full gap-4 items-center">
            <img class="rounded-full w-[50px] h-[50px] object-cover" src="/img/user1.png" alt="">
            <div class="flex flex-col gap-2 justify-center">
                <div class="flex items-center gap-4">
                    <span>Username</span>
                    <span class="text-slate-500">14 jan 2025</span>
                </div>
                <div class="text-slate-500">This is the comment of the user</div>
            </div>
        </div>


    </div>



</div>





</div>
